{% comment %}
  password-eye.liquid
  A component that toggles the type attribute of a password input between "password" and "text".
  Usage:
  {% render 'password-eye', input_id: 'your-input-id', class: 'your-custom-class' %}
  Parameters:
  - input_id: The ID of the input element to toggle (required)
  - class: Additional CSS classes to apply to the button (optional)
{% endcomment %}

{% liquid
  assign button_class = class | default: ''
%}
<genstore-password-eye close>
  <button
    type='button'
    class='password-toggle-btn f-row align-center content-center {{ button_class }}'
    id='toggle-{{ input_id }}'
    data-input-id='{{ input_id }}'
    aria-label='Toggle password visibility'
  >
    <span class='password-toggle-icon password-hidden'>
      {{- 'icon-eye-close.svg' | inline_asset_content -}}
    </span>
    <span class='password-toggle-icon password-visible'>
      {{- 'icon-eye-open.svg' | inline_asset_content -}}
    </span>
  </button>
</genstore-password-eye>
