{% comment %}
  SVG星级组件 - 添加半星逻辑
  支持半星、半钻石、半心、半皇冠
  小数部分处理规则：
    - 小于0.3：空星处理
    - 大于等于0.3和小于等于0.7：半星处理
    - 大于0.7：满星处理
{% endcomment %}

{% assign max_stars = max_count |default: 5 %}
{% assign icon_size = font_size | default: 16 %}
{% assign icon_spacing = spacing | default: 4 %}
{% assign empty_color = icon_color | default: '#D92027' %}
{% assign is_half_star = half_star | default: false %}
{% assign review_counts = review_count | default: 0 %}
{% unless icon_color %}
  {% case icon_type %}
    {% when 'star' %}{% assign icon_color = '#D92027' %}
    {% when 'masonry' %}{% assign icon_color = '#D92027' %}
    {% when 'love' %}{% assign icon_color = '#D92027' %}
    {% when 'crown' %}{% assign icon_color = '#D92027' %}
    {% else %}{% assign icon_color = '#D92027' %}
  {% endcase %}
{% endunless %}

{% comment %} 计算星星显示逻辑 - 新增小数处理规则 {% endcomment %}
{% assign rating_float = rating_score | default: 0 | times: 1.0 %}
{% if is_half_star %}
{% assign full_stars = rating_float | floor %}
{% assign decimal_part = rating_float | minus: full_stars %}
{% else %}
  {% assign full_stars = rating_float | round %}
  {% assign decimal_part = 0 %}
{% endif %}
{% assign show_half_star = false %}

{% comment %} 根据小数部分决定是否显示半星 {% endcomment %}
{% if decimal_part >= 0.3 and decimal_part <= 0.7 %}
  {% assign show_half_star = true %}
{% elsif decimal_part > 0.7 %}
  {% assign full_stars = full_stars | plus: 1 %}
{% endif %}

<style>
  .rating-simple {
    display: inline-flex;
    align-items: center;
    gap: {{ icon_spacing }}px;
    font-family: Arial, sans-serif;
    line-height:16px;
  }
  
  .rating-simple svg {
    display: block;
  }
  
  .review-info {
    margin-left: 8px;
    font-size: 14px;
    color: #333;
  }
  
  .review-count {
    color: var(--genstore-neutral-texticon-900, rgba(0, 0, 0, 0.90));
    font-family: Outfit;
    font-size: var(--genstore-fontSizes-250, 13px);
    font-style: normal;
    font-weight: var(--genstore-fontWeights-regular, 400);
    line-height: 16px; /* 123.077% */
  }
  
  {% comment %} 半星容器样式 {% endcomment %}
  .half-icon-container {
    position: relative;
    width: {{ icon_size }}px;
    height: {{ icon_size }}px;
  }
  
  .half-icon-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  
  .half-icon-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  @media screen and (max-width:750px){
  .review-info{
     display:none
  }
  }
</style>

<div class="rating-simple">
  {% comment %} 渲染完整星星 {% endcomment %}
  {% for i in (1..full_stars) %}
    {% if i <= max_stars %}
      {% case icon_type %}
        {% when 'star' %}
          <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
            <path d="M7.1928 1.5781C7.51051 0.88933 8.48943 0.88933 8.80713 1.5781L10.3057 4.8269L13.8585 5.24815C14.6118 5.33746 14.9143 6.26847 14.3574 6.78346L11.7306 9.21258L12.4279 12.7217C12.5757 13.4657 11.7838 14.0411 11.1219 13.6706L7.99997 11.9231L4.87804 13.6706C4.21616 14.0411 3.4242 13.4657 3.57202 12.7217L4.26929 9.21258L1.64257 6.78346C1.08568 6.26847 1.38818 5.33746 2.14142 5.24815L5.69428 4.8269L7.1928 1.5781Z" fill="{{ icon_color }}"/>
          </svg>
        {% when 'masonry' %}
          <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3417 2C11.8995 1.99981 12.4148 2.29834 12.692 2.78239L14.9073 6.64977C15.2566 7.25969 15.1536 8.0281 14.6559 8.52442L9.09658 14.0682C8.48946 14.6736 7.5069 14.6736 6.89977 14.0682L1.34433 8.52825C0.847134 8.03244 0.743735 7.26501 1.09197 6.65529L3.30172 2.78631C3.57854 2.30163 4.09381 2.00242 4.65197 2.00223L11.3417 2ZM4.88888 6.44423C4.88888 6.07604 5.18736 5.77756 5.55555 5.77756H10.4444C10.8126 5.77756 11.1111 6.07604 11.1111 6.44423C11.1111 6.81242 10.8126 7.11089 10.4444 7.11089H5.55555C5.18736 7.11089 4.88888 6.81242 4.88888 6.44423Z" fill="{{ icon_color }}"/>
          </svg>
        {% when 'love' %}
          <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.22223 6.30827C1.22223 4.16437 3.00012 2.55566 5.2 2.55566C5.89751 2.55566 6.5349 2.84502 7.06168 3.19948C7.40672 3.43165 7.72281 3.70422 8 3.97497C8.2772 3.70422 8.59329 3.43165 8.93833 3.19948C9.46511 2.84502 10.1025 2.55566 10.8 2.55566C12.9999 2.55566 14.7778 4.16437 14.7778 6.30827C14.7778 7.60776 14.15 8.73011 13.1819 9.8351C12.2502 10.8986 10.939 12.0162 9.41403 13.3159C9.36384 13.3587 9.31341 13.4017 9.26276 13.4449L9.25908 13.448L8.92749 13.7257C8.39085 14.1752 7.60915 14.1752 7.07251 13.7257L6.73722 13.4449C6.68654 13.4017 6.63609 13.3586 6.58587 13.3158C5.06099 12.0161 3.74978 10.8986 2.81809 9.8351C1.85003 8.73011 1.22223 7.60776 1.22223 6.30827Z" fill="{{ icon_color }}"/>
          </svg>
        {% when 'crown' %}
          <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47831 1.49558C8.37836 1.32643 8.1965 1.22266 8.00002 1.22266C7.80354 1.22266 7.62168 1.32643 7.52173 1.49558L4.88928 5.9505L2.01273 4.60811C1.8266 4.52125 1.60772 4.54418 1.44363 4.66773C1.27953 4.79128 1.197 4.9953 1.22904 5.19819L2.4143 12.7048C2.54221 13.5149 3.24045 14.1115 4.06057 14.1115H11.9395C12.7596 14.1115 13.4578 13.5149 13.5857 12.7048L14.771 5.19819C14.803 4.9953 14.7205 4.79128 14.5564 4.66773C14.3923 4.54418 14.1734 4.52125 13.9873 4.60811L11.1108 5.9505L8.47831 1.49558ZM6.51667 9.3071C6.25649 9.14448 5.91374 9.22358 5.75112 9.48377C5.5885 9.74396 5.6676 10.0867 5.92779 10.2493L7.70556 11.3604C7.88571 11.473 8.1143 11.473 8.29445 11.3604L10.0722 10.2493C10.3324 10.0867 10.4115 9.74396 10.2489 9.48377C10.0863 9.22358 9.74353 9.14448 9.48334 9.3071L8.00001 10.2342L6.51667 9.3071Z" fill="{{ icon_color }}"/>
          </svg>
      {% endcase %}
    {% endif %}
  {% endfor %}
  
  {% comment %} 渲染半星 - 只在0.3到0.7之间显示 {% endcomment %}
  {% if show_half_star and full_stars < max_stars %}
    <div class="half-icon-container">
      {% comment %} 左侧填充部分 {% endcomment %}
      <div class="half-icon-left">
        {% case icon_type %}
          {% when 'star' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; left: 0;">
              <path d="M7.1928 1.5781C7.51051 0.88933 8.48943 0.88933 8.80713 1.5781L10.3057 4.8269L13.8585 5.24815C14.6118 5.33746 14.9143 6.26847 14.3574 6.78346L11.7306 9.21258L12.4279 12.7217C12.5757 13.4657 11.7838 14.0411 11.1219 13.6706L7.99997 11.9231L4.87804 13.6706C4.21616 14.0411 3.4242 13.4657 3.57202 12.7217L4.26929 9.21258L1.64257 6.78346C1.08568 6.26847 1.38818 5.33746 2.14142 5.24815L5.69428 4.8269L7.1928 1.5781Z" fill="{{ icon_color }}"/>
            </svg>
          {% when 'masonry' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; left: 0;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3417 2C11.8995 1.99981 12.4148 2.29834 12.692 2.78239L14.9073 6.64977C15.2566 7.25969 15.1536 8.0281 14.6559 8.52442L9.09658 14.0682C8.48946 14.6736 7.5069 14.6736 6.89977 14.0682L1.34433 8.52825C0.847134 8.03244 0.743735 7.26501 1.09197 6.65529L3.30172 2.78631C3.57854 2.30163 4.09381 2.00242 4.65197 2.00223L11.3417 2ZM4.88888 6.44423C4.88888 6.07604 5.18736 5.77756 5.55555 5.77756H10.4444C10.8126 5.77756 11.1111 6.07604 11.1111 6.44423C11.1111 6.81242 10.8126 7.11089 10.4444 7.11089H5.55555C5.18736 7.11089 4.88888 6.81242 4.88888 6.44423Z" fill="{{ icon_color }}"/>
            </svg>
          {% when 'love' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; left: 0;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.22223 6.30827C1.22223 4.16437 3.00012 2.55566 5.2 2.55566C5.89751 2.55566 6.5349 2.84502 7.06168 3.19948C7.40672 3.43165 7.72281 3.70422 8 3.97497C8.2772 3.70422 8.59329 3.43165 8.93833 3.19948C9.46511 2.84502 10.1025 2.55566 10.8 2.55566C12.9999 2.55566 14.7778 4.16437 14.7778 6.30827C14.7778 7.60776 14.15 8.73011 13.1819 9.8351C12.2502 10.8986 10.939 12.0162 9.41403 13.3159C9.36384 13.3587 9.31341 13.4017 9.26276 13.4449L9.25908 13.448L8.92749 13.7257C8.39085 14.1752 7.60915 14.1752 7.07251 13.7257L6.73722 13.4449C6.68654 13.4017 6.63609 13.3586 6.58587 13.3158C5.06099 12.0161 3.74978 10.8986 2.81809 9.8351C1.85003 8.73011 1.22223 7.60776 1.22223 6.30827Z" fill="{{ icon_color }}"/>
            </svg>
          {% when 'crown' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; left: 0;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47831 1.49558C8.37836 1.32643 8.1965 1.22266 8.00002 1.22266C7.80354 1.22266 7.62168 1.32643 7.52173 1.49558L4.88928 5.9505L2.01273 4.60811C1.8266 4.52125 1.60772 4.54418 1.44363 4.66773C1.27953 4.79128 1.197 4.9953 1.22904 5.19819L2.4143 12.7048C2.54221 13.5149 3.24045 14.1115 4.06057 14.1115H11.9395C12.7596 14.1115 13.4578 13.5149 13.5857 12.7048L14.771 5.19819C14.803 4.9953 14.7205 4.79128 14.5564 4.66773C14.3923 4.54418 14.1734 4.52125 13.9873 4.60811L11.1108 5.9505L8.47831 1.49558ZM6.51667 9.3071C6.25649 9.14448 5.91374 9.22358 5.75112 9.48377C5.5885 9.74396 5.6676 10.0867 5.92779 10.2493L7.70556 11.3604C7.88571 11.473 8.1143 11.473 8.29445 11.3604L10.0722 10.2493C10.3324 10.0867 10.4115 9.74396 10.2489 9.48377C10.0863 9.22358 9.74353 9.14448 9.48334 9.3071L8.00001 10.2342L6.51667 9.3071Z" fill="{{ icon_color }}"/>
            </svg>
        {% endcase %}
      </div>
      
      {% comment %} 右侧空白部分 {% endcomment %}
      <div class="half-icon-right">
        {% case icon_type %}
          {% when 'star' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; right: 0;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.09195 1.53135C7.44936 0.756477 8.55065 0.756477 8.90807 1.53135L10.3805 4.72367L13.8716 5.13759C14.719 5.23807 15.0593 6.28545 14.4328 6.86482L11.8518 9.25171L12.5369 12.6999C12.7032 13.5368 11.8123 14.1841 11.0677 13.7673L8.00001 12.0502L4.93235 13.7673C4.18774 14.1841 3.29678 13.5368 3.46308 12.6999L4.14823 9.25171L1.56717 6.86482C0.940669 6.28545 1.28099 5.23807 2.12838 5.13759L5.61948 4.72367L7.09195 1.53135ZM8.00001 2.21547L6.60238 5.24553C6.45671 5.56134 6.15743 5.77878 5.81206 5.81973L2.49842 6.21261L4.94828 8.47818C5.20362 8.71431 5.31793 9.06614 5.25015 9.40725L4.59984 12.6801L7.51157 11.0503C7.81504 10.8804 8.18498 10.8804 8.48845 11.0503L11.4002 12.6801L10.7499 9.40725C10.6821 9.06614 10.7964 8.71431 11.0517 8.47818L13.5016 6.21261L10.188 5.81973C9.84259 5.77878 9.54331 5.56134 9.39764 5.24553L8.00001 2.21547Z" fill="{{ empty_color }}"/>
            </svg>
          {% when 'masonry' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; right: 0;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5956 2.83783C12.3382 2.38836 11.8597 2.11116 11.3417 2.11133L4.65201 2.11356C4.13372 2.11374 3.65525 2.39158 3.39821 2.84163L1.18846 6.71061C0.865093 7.27678 0.961107 7.98939 1.42279 8.44979L6.97823 13.9897C7.54199 14.5519 8.45437 14.5519 9.01813 13.9897L14.5774 8.44596C15.0396 7.98509 15.1353 7.27156 14.8108 6.70522L12.5956 2.83783ZM11.3421 3.22244C11.4616 3.2224 11.5721 3.28637 11.6315 3.39009L13.8467 7.25748C13.9216 7.38817 13.8995 7.55283 13.7928 7.65919L8.23355 13.203C8.10345 13.3327 7.8929 13.3327 7.76281 13.203L2.20737 7.66302C2.10082 7.55677 2.07867 7.39233 2.15329 7.26167L4.36304 3.39269C4.42236 3.28883 4.53277 3.22471 4.65238 3.22467L11.3421 3.22244ZM5.55555 5.88889C5.24873 5.88889 5 6.13762 5 6.44444C5 6.75127 5.24873 7 5.55555 7H10.4444C10.7513 7 11 6.75127 11 6.44444C11 6.13762 10.7513 5.88889 10.4444 5.88889H5.55555Z" fill="{{ empty_color }}"/>
            </svg>
          {% when 'love' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; right: 0;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.22223 6.30827C1.22223 4.16437 3.00012 2.55566 5.2 2.55566C5.89751 2.55566 6.5349 2.84502 7.06168 3.19948C7.40672 3.43165 7.72281 3.70422 8 3.97497C8.2772 3.70422 8.59329 3.43165 8.93833 3.19948C9.46511 2.84502 10.1025 2.55566 10.8 2.55566C12.9999 2.55566 14.7778 4.16437 14.7778 6.30827C14.7778 7.60776 14.15 8.73011 13.1819 9.8351C12.2502 10.8986 10.939 12.0162 9.41403 13.3159C9.36384 13.3587 9.31341 13.4017 9.26276 13.4449L9.25908 13.448L8.92749 13.7257C8.39085 14.1752 7.60915 14.1752 7.07251 13.7257L6.73722 13.4449C6.68654 13.4017 6.63609 13.3586 6.58587 13.3158C5.06099 12.0161 3.74978 10.8986 2.81809 9.8351C1.85003 8.73011 1.22223 7.60776 1.22223 6.30827ZM5.2 3.66678C3.54138 3.66678 2.33334 4.84799 2.33334 6.30827C2.33334 7.2177 2.76314 8.08624 3.65384 9.10292C4.53104 10.1042 5.78766 11.1754 7.35473 12.5112C7.38841 12.5399 7.42224 12.5688 7.45622 12.5977L7.78596 12.8739C7.9098 12.9776 8.09019 12.9776 8.21404 12.8739L8.54374 12.5978C8.57769 12.5688 8.6115 12.54 8.64516 12.5113C10.2123 11.1754 11.469 10.1042 12.3462 9.10292C13.2369 8.08624 13.6667 7.2177 13.6667 6.30827C13.6667 4.84799 12.4586 3.66678 10.8 3.66678C10.4086 3.66678 9.98842 3.83213 9.55862 4.12133C9.13253 4.40804 8.73902 4.78821 8.41169 5.14946C8.30637 5.26569 8.15684 5.33198 8 5.33198C7.84315 5.33198 7.69362 5.26568 7.58831 5.14946C7.26097 4.7882 6.86748 4.40803 6.44139 4.12133C6.0116 3.83213 5.5914 3.66678 5.2 3.66678Z" fill="{{ empty_color }}"/>
            </svg>
          {% when 'crown' %}
            <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none" style="position: absolute; right: 0;">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47828 1.49558C8.37833 1.32643 8.19647 1.22266 7.99999 1.22266C7.80351 1.22266 7.62165 1.32643 7.5217 1.49558L4.88925 5.9505L2.0127 4.60811C1.82657 4.52125 1.60769 4.54418 1.4436 4.66773C1.2795 4.79128 1.19697 4.9953 1.22901 5.19819L2.41427 12.7048C2.54218 13.5149 3.24042 14.1115 4.06054 14.1115H11.9394C12.7596 14.1115 13.4578 13.5149 13.5857 12.7048L14.771 5.19819C14.803 4.9953 14.7205 4.79128 14.5564 4.66773C14.3923 4.54418 14.1734 4.52125 13.9873 4.60811L11.1107 5.9505L8.47828 1.49558ZM5.58939 6.94973L7.99999 2.87026L10.4106 6.94973C10.5561 7.19593 10.8647 7.29147 11.1238 7.17054L13.5105 6.05673L12.4882 12.5315C12.4456 12.8016 12.2128 13.0004 11.9394 13.0004H4.06054C3.78716 13.0004 3.55442 12.8016 3.51178 12.5315L2.48945 6.05673L4.87616 7.17054C5.1353 7.29147 5.44391 7.19593 5.58939 6.94973ZM6.51666 9.3071C6.25647 9.14448 5.91372 9.22358 5.7511 9.48377C5.58848 9.74396 5.66758 10.0867 5.92777 10.2493L7.70555 11.3604C7.8857 11.473 8.11428 11.473 8.29443 11.3604L10.0722 10.2493C10.3324 10.0867 10.4115 9.74396 10.2489 9.48377C10.0863 9.22358 9.74351 9.14448 9.48332 9.3071L7.99999 10.2342L6.51666 9.3071Z" fill="{{ empty_color }}"/>
            </svg>
        {% endcase %}
      </div>
    </div>
  {% endif %}
  
  {% comment %} 渲染空星 {% endcomment %}
  {% assign shown_stars = full_stars %}
  {% if show_half_star %}
    {% assign shown_stars = shown_stars | plus: 1 %}
  {% endif %}
  
  {% assign empty_count = max_stars | minus: shown_stars %}
  {% for i in (1..empty_count) %}
    {% case icon_type %}
      {% when 'star' %}
        <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.09195 1.53135C7.44936 0.756477 8.55065 0.756477 8.90807 1.53135L10.3805 4.72367L13.8716 5.13759C14.719 5.23807 15.0593 6.28545 14.4328 6.86482L11.8518 9.25171L12.5369 12.6999C12.7032 13.5368 11.8123 14.1841 11.0677 13.7673L8.00001 12.0502L4.93235 13.7673C4.18774 14.1841 3.29678 13.5368 3.46308 12.6999L4.14823 9.25171L1.56717 6.86482C0.940669 6.28545 1.28099 5.23807 2.12838 5.13759L5.61948 4.72367L7.09195 1.53135ZM8.00001 2.21547L6.60238 5.24553C6.45671 5.56134 6.15743 5.77878 5.81206 5.81973L2.49842 6.21261L4.94828 8.47818C5.20362 8.71431 5.31793 9.06614 5.25015 9.40725L4.59984 12.6801L7.51157 11.0503C7.81504 10.8804 8.18498 10.8804 8.48845 11.0503L11.4002 12.6801L10.7499 9.40725C10.6821 9.06614 10.7964 8.71431 11.0517 8.47818L13.5016 6.21261L10.188 5.81973C9.84259 5.77878 9.54331 5.56134 9.39764 5.24553L8.00001 2.21547Z" fill="{{ icon_color }}"/>
        </svg>
      {% when 'masonry' %}
        <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5956 2.83783C12.3382 2.38836 11.8597 2.11116 11.3417 2.11133L4.65201 2.11356C4.13372 2.11374 3.65525 2.39158 3.39821 2.84163L1.18846 6.71061C0.865093 7.27678 0.961107 7.98939 1.42279 8.44979L6.97823 13.9897C7.54199 14.5519 8.45437 14.5519 9.01813 13.9897L14.5774 8.44596C15.0396 7.98509 15.1353 7.27156 14.8108 6.70522L12.5956 2.83783ZM11.3421 3.22244C11.4616 3.2224 11.5721 3.28637 11.6315 3.39009L13.8467 7.25748C13.9216 7.38817 13.8995 7.55283 13.7928 7.65919L8.23355 13.203C8.10345 13.3327 7.8929 13.3327 7.76281 13.203L2.20737 7.66302C2.10082 7.55677 2.07867 7.39233 2.15329 7.26167L4.36304 3.39269C4.42236 3.28883 4.53277 3.22471 4.65238 3.22467L11.3421 3.22244ZM5.55555 5.88889C5.24873 5.88889 5 6.13762 5 6.44444C5 6.75127 5.24873 7 5.55555 7H10.4444C10.7513 7 11 6.75127 11 6.44444C11 6.13762 10.7513 5.88889 10.4444 5.88889H5.55555Z" fill="{{ icon_color }}"/>
        </svg>
      {% when 'love' %}
        <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.22223 6.30827C1.22223 4.16437 3.00012 2.55566 5.2 2.55566C5.89751 2.55566 6.5349 2.84502 7.06168 3.19948C7.40672 3.43165 7.72281 3.70422 8 3.97497C8.2772 3.70422 8.59329 3.43165 8.93833 3.19948C9.46511 2.84502 10.1025 2.55566 10.8 2.55566C12.9999 2.55566 14.7778 4.16437 14.7778 6.30827C14.7778 7.60776 14.15 8.73011 13.1819 9.8351C12.2502 10.8986 10.939 12.0162 9.41403 13.3159C9.36384 13.3587 9.31341 13.4017 9.26276 13.4449L9.25908 13.448L8.92749 13.7257C8.39085 14.1752 7.60915 14.1752 7.07251 13.7257L6.73722 13.4449C6.68654 13.4017 6.63609 13.3586 6.58587 13.3158C5.06099 12.0161 3.74978 10.8986 2.81809 9.8351C1.85003 8.73011 1.22223 7.60776 1.22223 6.30827ZM5.2 3.66678C3.54138 3.66678 2.33334 4.84799 2.33334 6.30827C2.33334 7.2177 2.76314 8.08624 3.65384 9.10292C4.53104 10.1042 5.78766 11.1754 7.35473 12.5112C7.38841 12.5399 7.42224 12.5688 7.45622 12.5977L7.78596 12.8739C7.9098 12.9776 8.09019 12.9776 8.21404 12.8739L8.54374 12.5978C8.57769 12.5688 8.6115 12.54 8.64516 12.5113C10.2123 11.1754 11.469 10.1042 12.3462 9.10292C13.2369 8.08624 13.6667 7.2177 13.6667 6.30827C13.6667 4.84799 12.4586 3.66678 10.8 3.66678C10.4086 3.66678 9.98842 3.83213 9.55862 4.12133C9.13253 4.40804 8.73902 4.78821 8.41169 5.14946C8.30637 5.26569 8.15684 5.33198 8 5.33198C7.84315 5.33198 7.69362 5.26568 7.58831 5.14946C7.26097 4.7882 6.86748 4.40803 6.44139 4.12133C6.0116 3.83213 5.5914 3.66678 5.2 3.66678Z" fill="{{ icon_color }}"/>
        </svg>
      {% when 'crown' %}
        <svg width="{{ icon_size }}" height="{{ icon_size }}" viewBox="0 0 16 16" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47828 1.49558C8.37833 1.32643 8.19647 1.22266 7.99999 1.22266C7.80351 1.22266 7.62165 1.32643 7.5217 1.49558L4.88925 5.9505L2.0127 4.60811C1.82657 4.52125 1.60769 4.54418 1.4436 4.66773C1.2795 4.79128 1.19697 4.9953 1.22901 5.19819L2.41427 12.7048C2.54218 13.5149 3.24042 14.1115 4.06054 14.1115H11.9394C12.7596 14.1115 13.4578 13.5149 13.5857 12.7048L14.771 5.19819C14.803 4.9953 14.7205 4.79128 14.5564 4.66773C14.3923 4.54418 14.1734 4.52125 13.9873 4.60811L11.1107 5.9505L8.47828 1.49558ZM5.58939 6.94973L7.99999 2.87026L10.4106 6.94973C10.5561 7.19593 10.8647 7.29147 11.1238 7.17054L13.5105 6.05673L12.4882 12.5315C12.4456 12.8016 12.2128 13.0004 11.9394 13.0004H4.06054C3.78716 13.0004 3.55442 12.8016 3.51178 12.5315L2.48945 6.05673L4.87616 7.17054C5.1353 7.29147 5.44391 7.19593 5.58939 6.94973ZM6.51666 9.3071C6.25647 9.14448 5.91372 9.22358 5.7511 9.48377C5.58848 9.74396 5.66758 10.0867 5.92777 10.2493L7.70555 11.3604C7.8857 11.473 8.11428 11.473 8.29443 11.3604L10.0722 10.2493C10.3324 10.0867 10.4115 9.74396 10.2489 9.48377C10.0863 9.22358 9.74351 9.14448 9.48332 9.3071L7.99999 10.2342L6.51666 9.3071Z" fill="{{ empty_color }}"/>
        </svg>
    {% endcase %}
  {% endfor %}

  {% comment %} {% if review_counts %} {% endcomment %}
    <div class="review-info">
     <span class="review-count">
      {% if  review_counts == 1%}
        {{- 'products.product.review_count' | t: review_count: review_counts -}}
      {% else %}
        {{- 'products.product.review_counts' | t: review_count: review_counts -}}
      {% endif %}
     </span>
    </div>
  {% comment %} {% endif %} {% endcomment %}
</div>
