{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-product-variant-picker.css' | asset_url | stylesheet_tag }}

{%- unless settings.card_quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src='{{ 'genstore-product-form.js' | asset_url }}' defer='defer'></script>
{%- endunless -%}

{%- if settings.card_quick_add == 'standard' -%}
  <script src='{{ 'quick-add.js' | asset_url }}' defer='defer'></script>
{%- endif -%}

{%- if settings.card_quick_add == 'bulk' -%}
  <script src='{{ 'quick-add-bulk.js' | asset_url }}' defer='defer'></script>
  <script src='{{ 'quantity-popover.js' | asset_url }}' defer='defer'></script>
  <script src='{{ 'price-per-item.js' | asset_url }}' defer='defer'></script>
  <script src='{{ 'quick-order-list.js' | asset_url }}' defer='defer'></script>
{%- endif -%}

{% liquid
  assign animate_slide_in = ''
  if settings.animations_reveal_on_scroll
    assign animate_slide_in = 'scroll-trigger animate--slide-in'
  endif
  assign color_mode = section.settings.color_mode | default: 'light'
  assign color_style = section.settings.color_style | default: 'brand'
%}

{% capture nav_content %}
   {% if section.settings.heading != blank %}
    {% liquid
      assign heading_className = section.settings.heading_alignment | default: 'left'
      assign animate_slide_in = animate_slide_in | append: ' ' | append: heading_className
    %}
    {% render 'genstore-heading',
      title: section.settings.heading,
      heading_size: section.settings.heading_size,
      genstore_attributes: section.genstore_attributes,
      className: animate_slide_in
    %}
  {% endif %}
 {% endcapture %}
{% capture content %}
<div
    class="collection {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding{% if section.settings.full_width %} full-width{% else %} page-width {% endif %} f-column gap-s"
    id="collection-{{ section.id }}"
    data-id="{{ section.id }}"
>
  {% render 'genstore-product-list',
    section: section,
    products_wrapper: recommendations,
    nav_content: nav_content,
    products_to_show: section.settings.products_to_show,
%}
</div>
{% endcapture %}
{% render 'genstore-container',
  color_scheme: settings.theme_color_scheme,
  color_mode: color_mode,
  color_style: color_style,
  section: section,
  className: 'section-mark isolate  featured-collection-container',
  content: content
%}
{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "default": "t:sections.related-products.settings.paragraph__1.default",
      "id": "heading",
      "label": "t:sections.featured-collection.settings.title.label",
      "type": "text"
    },
    {
      "type": "text_alignment",
      "id": "heading_alignment",
      "default": "left",
      "label": "t:sections.multicolumn.settings.title_alignment.label",
      "options": [
        {
          "label": "t:sections.all.alignment.left",
          "value": "left"
        },
        {
          "label": "t:sections.all.alignment.center",
          "value": "center"
        },
        {
          "label": "t:sections.all.alignment.right",
          "value": "right"
        }
      ]
    },
    {
      "default": "m",
      "options": [
        {
          "label": "t:sections.all.size.xxs",
          "value": "xxs"
        },
        {
          "label": "t:sections.all.size.xs",
          "value": "xs"
        },
        {
          "label": "t:sections.all.size.s",
          "value": "s"
        },
        {
          "label": "t:sections.all.size.m",
          "value": "m"
        },
        {
          "label": "t:sections.all.size.l",
          "value": "l"
        },
        {
          "label": "t:sections.all.size.xl",
          "value": "xl"
        },
        {
          "label": "t:sections.all.size.xxl",
          "value": "xxl"
        }
      ],
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "type": "select"
    },
    {
      "default": 4,
      "min": 2,
      "max": 24,
      "step": 1,
      "id": "products_to_show",
      "label": "t:sections.featured-collection.settings.products_to_show.label",
      "type": "range"
    },
    {
      "default": 4,
      "min": 1,
      "max": 6,
      "step": 1,
      "id": "columns_desktop",
      "label": "t:sections.featured-collection.settings.columns_desktop.label",
      "type": "range"
    },
    {
      "default": "m",
      "options": [
        {
          "label": "t:sections.all.size.s",
          "value": "s"
        },
        {
          "label": "t:sections.all.size.m",
          "value": "m"
        },
        {
          "label": "t:sections.all.size.l",
          "value": "l"
        }
      ],
      "id": "gap",
      "label": "t:sections.all.gap.label",
      "type": "select"
    },
    {
      "default": false,
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "type": "checkbox"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "default": true,
      "id": "show_view_all",
      "visible_if": "{{ block.settings.full_width == true  }}",
      "label": "t:sections.featured-collection.settings.show_view_all.label",
      "type": "checkbox"
    },
    {
      "default": "default",
      "visible_if": "{{ block.settings.full_width == true  }}",
      "options": [
        {
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label",
          "value": "ghost"
        },
        {
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label",
          "value": "default"
        },
        {
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label",
          "value": "primary"
        }
      ],
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "type": "select"
    },
    {
      "id": "button_size",
      "visible_if": "{{ block.settings.full_width == true  }}",
      "default": "xl",
      "label": "t:sections.all.add_cart_button.button_size.label",
      "type": "select",
      "options": [
        {
          "label": "t:sections.all.size.s",
          "value": "small"
        },
        {
          "label": "t:sections.all.size.m",
          "value": "medium"
        },
        {
          "label": "t:sections.all.size.l",
          "value": "large"
        },
        {
          "label": "t:sections.all.size.xl",
          "value": "xl"
        },
        {
          "label": "t:sections.all.size.xxl",
          "value": "xxl"
        }
      ]
    },
    {
      "default": "brand",
      "visible_if": "{{ block.settings.full_width == true  }}",
      "options": [
        {
          "label": "t:sections.all.color_style.neutral.label",
          "value": "neutral"
        },
        {
          "label": "t:sections.all.color_style.brand.label",
          "value": "brand"
        },
        {
          "label": "t:sections.all.color_style.secondary.label",
          "value": "secondary"
        },
        {
          "label": "t:sections.all.color_style.striking.label",
          "value": "striking"
        }
      ],
      "id": "button_color_style",
      "label": "t:sections.all.color_style.label",
      "type": "select"
    },

    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "default": "square",
      "options": [
        {
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label",
          "value": "square"
        },
        {
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label",
          "value": "portrait"
        },
        {
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label",
          "value": "adapt"
        }
      ],
      "id": "image_ratio",
      "label": "t:sections.featured-collection.settings.image_ratio.label",
      "type": "select"
    },
    {
      "id": "enable_color_picker",
      "label": "t:sections.featured-collection.settings.color_picker.enable.label",
      "type": "checkbox",
      "default": true,
      "info": "t:sections.featured-collection.settings.color_picker.enable.info"
    },
    {
      "default": true,
      "id": "show_rating",
      "label": "t:sections.featured-collection.settings.show_new_rating.label",
      "info": "t:sections.featured-collection.settings.show_new_rating.info",
      "type": "checkbox"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_device.label"
    },

    {
      "type": "checkbox",
      "id": "enable_mobile_slider",
      "label": "t:sections.all.enable_mobile_slider.label",
      "default": false
    },
    {
      "default": 1,
      "options": [
        {
          "label": "t:sections.all.columns_mobile.options__1.label",
          "value": 1
        },
        {
          "label": "t:sections.all.columns_mobile.options__2.label",
          "value": 2
        }
      ],
      "id": "columns_mobile",
      "label": "t:sections.all.columns_mobile.label",
      "type": "select"
    },

    {
      "type": "header",
      "content": "t:sections.header.settings.header__10.content"
    },
    {
      "default": "light",
      "options": [
        {
          "label": "t:sections.all.color_mode.options__1.label",
          "value": "light"
        },
        {
          "label": "t:sections.all.color_mode.options__2.label",
          "value": "dark"
        }
      ],
      "id": "color_mode",
      "label": "t:sections.all.color_mode.label",
      "type": "select"
    },
    {
      "id": "color_style",
      "label": "t:sections.all.color_style.label",
      "type": "select_draw",
      "default": "pure",
      "visible_if": "{{ block.settings.color_mode == 'dark' }}",
      "options": [
        {
          "label": "t:sections.all.color_style.transparent.label",
          "value": "transparent"
        },
        {
          "label": "t:sections.all.color_style.pure.label",
          "value": "pure",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-background}}",
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.neutral.label",
          "value": "neutral",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-neutral}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-neutral}}",
              20,
              "{{settings.theme_color_scheme.dark-neutral}}",
              20,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.brand.label",
          "value": "brand",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-brand}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-brand}}",
              70,
              "{{settings.theme_color_scheme.dark-brand}}",
              70,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.secondary.label",
          "value": "secondary",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-secondary}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-secondary}}",
              70,
              "{{settings.theme_color_scheme.dark-secondary}}",
              70,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.striking.label",
          "value": "striking",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-striking}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-striking}}",
              70,
              "{{settings.theme_color_scheme.dark-striking}}",
              70,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        }
      ]
    },
    {
      "id": "color_style",
      "label": "t:sections.all.color_style.label",
      "type": "select_draw",
      "default": "pure",
      "visible_if": "{{ block.settings.color_mode == 'light' }}",
      "options": [
        {
          "label": "t:sections.all.color_style.transparent.label",
          "value": "transparent"
        },
        {
          "label": "t:sections.all.color_style.pure.label",
          "value": "pure",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-background}}",
            "text": "#141414"
          }
        },
        {
          "label": "t:sections.all.color_style.neutral.label",
          "value": "neutral",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-neutral}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-neutral}}",
              40,
              "{{settings.theme_color_scheme.light-neutral}}",
              40,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        },

        {
          "label": "t:sections.all.color_style.brand.label",
          "value": "brand",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-brand}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-brand}}",
              10,
              "{{settings.theme_color_scheme.light-brand}}",
              10,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        },
        {
          "label": "t:sections.all.color_style.secondary.label",
          "value": "secondary",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-secondary}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-secondary}}",
              10,
              "{{settings.theme_color_scheme.light-secondary}}",
              10,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        },
        {
          "label": "t:sections.all.color_style.striking.label",
          "value": "striking",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-striking}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-striking}}",
              10,
              "{{settings.theme_color_scheme.light-striking}}",
              10,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        }
      ]
    },

    {
      "type": "header",
      "content": "t:sections.all.gap.label"
    },
    {
      "options": [
        {
          "label": "t:sections.all.padding.options__1.label",
          "value": "none"
        },
        {
          "label": "t:sections.all.padding.options__2.label",
          "value": "xxs"
        },
        {
          "label": "t:sections.all.padding.options__3.label",
          "value": "xs"
        },
        {
          "label": "t:sections.all.padding.options__4.label",
          "value": "s"
        },
        {
          "label": "t:sections.all.padding.options__5.label",
          "value": "m"
        },
        {
          "label": "t:sections.all.padding.options__6.label",
          "value": "l"
        },
        {
          "label": "t:sections.all.padding.options__7.label",
          "value": "xl"
        }
      ],
      "default": "m",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "type": "select"
    },
    {
      "options": [
        {
          "label": "t:sections.all.padding.options__1.label",
          "value": "none"
        },
        {
          "label": "t:sections.all.padding.options__2.label",
          "value": "xxs"
        },
        {
          "label": "t:sections.all.padding.options__3.label",
          "value": "xs"
        },
        {
          "label": "t:sections.all.padding.options__4.label",
          "value": "s"
        },
        {
          "label": "t:sections.all.padding.options__5.label",
          "value": "m"
        },
        {
          "label": "t:sections.all.padding.options__6.label",
          "value": "l"
        },
        {
          "label": "t:sections.all.padding.options__7.label",
          "value": "xl"
        }
      ],
      "default": "m",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "type": "select"
    }
  ]
}
{% endschema %}
