{% comment %}
{% endcomment %}
{% liquid
  assign className = ''
  assign mediaClass = ''
  if section.settings.full_width
    assign className = 'full-screen'
    assign mediaClass = 'no-borderRadius'
  endif
%}
{% capture content %}
  <div class="{% if section.settings.full_width %} full-width {% else %} page-width {% endif %}">
    <a {{ '' | genstore_vkey: key:'link' }} {% if section.settings.enable_link == true and section.settings.link != blank %}  href="{{ section.settings.link }}" {% else %} class="prevent-click" href='' onclick="event.preventDefault();" {% endif %}>
      {% if section.settings.image == blank %}
        {% render 'genstore-placeholder', show_product_placeholder: true, icon_name: 'section-placeholder-1', image_ratio: 1.78,visual_image_key:"image" %}
      {% else %}
        {%- render 'banner-media',
          image: section.settings.image,
          mobile_image: section.settings.mobile_image,
          accept_ratio: "auto",
          className: mediaClass,
          visual_image_key:'image',
          visual_image_mobile_key:"mobile_image"
        -%}
      {% endif %}
    </a>
  </div>
{% endcapture %}
{% render 'genstore-container',
  content: content,
  section: section,
  color_scheme: settings.theme_color_scheme,
  color_mode: section.settings.color_mode,
  color_style: section.settings.color_style,
  className: className
%}
{% schema %}
{
  "name": "t:sections.main-image.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "id": "image",
      "label": "t:sections.carousel.blocks.image.label",
      "type": "image_picker",
      "info": "t:sections.all.image.info"
    },
    {
      "id": "mobile_image",
      "label": "t:sections.carousel.blocks.mobile_image.label",
      "type": "image_picker",
      "info": "t:sections.all.image.info"
    },
    {
      "default": false,
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "type": "checkbox"
    },
    {
      "default": false,
      "id": "enable_link",
      "label": "t:sections.all.image.link.label",
      "type": "checkbox"
    },
    {
      "id": "link",
      "default": "",
      "type": "url",
      "label": "t:sections.all.button_link.link.label",
      "visible_if": "{{ block.settings.enable_link == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__10.content"
    },
    {
      "default": "light",
      "options": [
        {
          "label": "t:sections.all.color_mode.options__1.label",
          "value": "light"
        },
        {
          "label": "t:sections.all.color_mode.options__2.label",
          "value": "dark"
        }
      ],
      "id": "color_mode",
      "label": "t:sections.all.color_mode.label",
      "type": "select"
    },
    {
      "id": "color_style",
      "label": "t:sections.all.color_style.label",
      "type": "select_draw",
      "default": "pure",
      "visible_if": "{{ block.settings.color_mode == 'dark' }}",
      "options": [
        {
          "label": "t:sections.all.color_style.transparent.label",
          "value": "transparent"
        },
        {
          "label": "t:sections.all.color_style.pure.label",
          "value": "pure",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-background}}",
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.neutral.label",
          "value": "neutral",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-neutral}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-neutral}}",
              20,
              "{{settings.theme_color_scheme.dark-neutral}}",
              20,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.brand.label",
          "value": "brand",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-brand}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-brand}}",
              70,
              "{{settings.theme_color_scheme.dark-brand}}",
              70,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.secondary.label",
          "value": "secondary",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-secondary}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-secondary}}",
              70,
              "{{settings.theme_color_scheme.dark-secondary}}",
              70,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        },
        {
          "label": "t:sections.all.color_style.striking.label",
          "value": "striking",
          "definition": {
            "background": "{{settings.theme_color_scheme.dark-striking}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.dark-striking}}",
              70,
              "{{settings.theme_color_scheme.dark-striking}}",
              70,
              "#141414",
              100
            ],
            "text": "#fff"
          }
        }
      ]
    },
    {
      "id": "color_style",
      "label": "t:sections.all.color_style.label",
      "type": "select_draw",
      "default": "pure",
      "visible_if": "{{ block.settings.color_mode == 'light' }}",
      "options": [
        {
          "label": "t:sections.all.color_style.transparent.label",
          "value": "transparent"
        },
        {
          "label": "t:sections.all.color_style.pure.label",
          "value": "pure",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-background}}",
            "text": "#141414"
          }
        },
        {
          "label": "t:sections.all.color_style.neutral.label",
          "value": "neutral",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-neutral}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-neutral}}",
              40,
              "{{settings.theme_color_scheme.light-neutral}}",
              40,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        },
        {
          "label": "t:sections.all.color_style.brand.label",
          "value": "brand",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-brand}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-brand}}",
              10,
              "{{settings.theme_color_scheme.light-brand}}",
              10,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        },
        {
          "label": "t:sections.all.color_style.secondary.label",
          "value": "secondary",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-secondary}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-secondary}}",
              10,
              "{{settings.theme_color_scheme.light-secondary}}",
              10,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        },
        {
          "label": "t:sections.all.color_style.striking.label",
          "value": "striking",
          "definition": {
            "background": "{{settings.theme_color_scheme.light-striking}}",
            "background_gradient": [
              "{{settings.theme_color_scheme.light-striking}}",
              10,
              "{{settings.theme_color_scheme.light-striking}}",
              10,
              "#fff",
              100
            ],
            "text": "#141414"
          }
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.gap.label"
    },
    {
      "options": [
        {
          "label": "t:sections.all.padding.options__1.label",
          "value": "none"
        },
        {
          "label": "t:sections.all.padding.options__2.label",
          "value": "xxs"
        },
        {
          "label": "t:sections.all.padding.options__3.label",
          "value": "xs"
        },
        {
          "label": "t:sections.all.padding.options__4.label",
          "value": "s"
        },
        {
          "label": "t:sections.all.padding.options__5.label",
          "value": "m"
        },
        {
          "label": "t:sections.all.padding.options__6.label",
          "value": "l"
        },
        {
          "label": "t:sections.all.padding.options__7.label",
          "value": "xl"
        }
      ],
      "default": "m",
      "id": "padding_top",
      "label": "t:sections.all.padding.padding_top",
      "type": "select"
    },
    {
      "options": [
        {
          "label": "t:sections.all.padding.options__1.label",
          "value": "none"
        },
        {
          "label": "t:sections.all.padding.options__2.label",
          "value": "xxs"
        },
        {
          "label": "t:sections.all.padding.options__3.label",
          "value": "xs"
        },
        {
          "label": "t:sections.all.padding.options__4.label",
          "value": "s"
        },
        {
          "label": "t:sections.all.padding.options__5.label",
          "value": "m"
        },
        {
          "label": "t:sections.all.padding.options__6.label",
          "value": "l"
        },
        {
          "label": "t:sections.all.padding.options__7.label",
          "value": "xl"
        }
      ],
      "default": "m",
      "id": "padding_bottom",
      "label": "t:sections.all.padding.padding_bottom",
      "type": "select"
    }
  ]
}
{% endschema %}
